<!--<div class = "container">
  <div class="row">
    <h1>Blocipedia<br></h1>
  </div>
  <div class = "row">
    <div class = "col-md-8">
      <h4>
        Bacon ipsum dolor amet drumstick venison short loin, flank tail pork loin shankle prosciutto salami corned beef. Turkey salami ham tenderloin fatback filet mignon. Ground round cupim beef ribs bresaola ham beef pastrami t-bone porchetta landjaeger. Bresaola prosciutto shank rump shankle tri-tip ribeye doner spare ribs. Jerky rump leberkas, ham hock ball tip kielbasa prosciutto pork chop short ribs venison spare ribs ground round sirloin brisket.
      </h4>
    </div>
  </div>
</div>
-->
<!-- start container -->
<!--<div class="container">-->
<!-- Header was here -->

          <div class="jumbotron">
              <h1>Blocipedia</h1>
              <p class="lead">Welcome to Blocipedia, where we are posting and collaborating posts, everyday! </p>
              <p><%= link_to "Sign me up!", new_user_registration_path, class: "btn btn-lrg btn-primary"%></p>
          </div>
          <div class="row marketing">
              <div class="col-lg-6">
                  <h4>Feature1 (best feature)</h4>
                  <p>Bacon ipsum dolor amet strip steak cow jowl hamburger t-bone tenderloin spare ribs jerky ribeye cupim shank andouille pig flank brisket. Ribeye pastrami rump filet mignon pancetta, jowl tri-tip shoulder bresaola venison cupim frankfurter swine ham. Swine meatball chuck pork strip steak flank pastrami. T-bone meatloaf ham turkey strip steak beef, chuck biltong tail andouille rump. Salami short loin bacon, sausage porchetta pork turkey venison pancetta. Landjaeger andouille t-bone pork turducken pork belly.</p>
                  <h4>Feature2</h4>
                  <p>Boudin meatloaf shank pastrami pancetta sirloin bresaola jerky. Turducken t-bone jerky pork loin ball tip ham pig beef tri-tip, bresaola meatloaf. Alcatra salami sausage biltong, brisket pork loin filet mignon chicken rump flank beef ribs. Beef ribs brisket picanha tongue turkey porchetta sirloin meatball swine. Pastrami turducken tri-tip, chuck ball tip sausage spare ribs porchetta filet mignon rump frankfurter. Ball tip brisket short loin frankfurter, turducken drumstick pork chop pork belly rump.</p>
                  <h4>Feature3 (2nd best feature)</h4>
                  <p>Ground round hamburger ball tip boudin turducken kielbasa tenderloin. Kielbasa short loin turkey pork hamburger. Tri-tip leberkas turducken, strip steak turkey boudin ribeye pork pastrami pork belly pancetta jowl chuck. Cupim picanha pork chop pork belly boudin ham hock, spare ribs ham swine chicken bacon landjaeger doner. Jowl hamburger short ribs pork belly, pork chop venison ground round tri-tip. Boudin meatloaf porchetta jowl flank strip steak leberkas. Andouille biltong short loin bacon chuck.</p>
              </div>

          </div>
          <footer class="footer pull-right">
              <p>&copy; <a href="mailto:letsmailiggy@gmail.com?Subject=You%20are%20awesome!" target="_top">
Igor Irianto</a>, 2016</p>
          </footer>

<!--      </div>-->
<!-- end container -->
