<!--<div class = "container">
  <div class="row">
    <h1>Blocipedia<br></h1>
  </div>
  <div class = "row">
    <div class = "col-md-8">
      <h4>
        Bacon ipsum dolor amet drumstick venison short loin, flank tail pork loin shankle prosciutto salami corned beef. Turkey salami ham tenderloin fatback filet mignon. Ground round cupim beef ribs bresaola ham beef pastrami t-bone porchetta landjaeger. Bresaola prosciutto shank rump shankle tri-tip ribeye doner spare ribs. Jerky rump leberkas, ham hock ball tip kielbasa prosciutto pork chop short ribs venison spare ribs ground round sirloin brisket.
      </h4>
    </div>
  </div>
</div>
-->
<!-- start container -->
<!--<div class="container">-->
<!-- Header was here -->

          <div class="jumbotron">
              <h1>Jumbotron heading</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
              <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
          </div>
          <div class="row marketing">
              <div class="col-lg-6">
                  <h4>Subheading</h4>
                  <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
                  <h4>Subheading</h4>
                  <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
                  <h4>Subheading</h4>
                  <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
              </div>
              <div class="col-lg-6">
                  <h4>Subheading</h4>
                  <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
                  <h4>Subheading</h4>
                  <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
                  <h4>Subheading</h4>
                  <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
              </div>
          </div>
          <footer class="footer">
              <p>&copy; Company 2014</p>
          </footer>

<!--      </div>-->
<!-- end container -->
