<%= render 'layouts/header_wiki'%>
<h3>Wikis</h3>
<div class="row">
  <div class = "text-center main-text">
    <%= link_to "New", new_wiki_path, class: "btn btn-primary"%>
  </div>
</div>

<div class = "row">
  <div class = "col-lg-12">
    <% @wikis.each do |wiki| %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to wiki.title, wiki %> <small><em>- by <%= wiki.user_id %></em></small>
        </h4>
      </div>
    </div>
    <% end %>
  </div>
</div>
